POSTGRES_DB=trading_platform
POSTGRES_USER=trading_platform
POSTGRES_PASSWORD=trading_platform
TRADING_PLATFORM_APP__ENVIRONMENT=local
TRADING_PLATFORM_API__PORT=8000
TRADING_PLATFORM_LOGGING__LEVEL=INFO
TRADING_PLATFORM_DATABASE__HOST=localhost
TRADING_PLATFORM_DATABASE__PORT=5432
